<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Authentication" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Authentication.Cookies" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cryptography.Internal" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cryptography.KeyDerivation" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.DataProtection" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.DataProtection.Abstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.FileProviders.Abstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Hosting.Abstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Http" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Http.Extensions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity" version="3.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebUtilities" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Identity.Core" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.Identity.Stores" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc1-final" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>